

$linkColor: #B5E916;

.header {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
    margin-top: 40px;

    &__title {
        font-size: 22px;
        margin-left: 25px;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
    }

    &__nav {
        width: 100%;
        display: flex;
        padding-left: 0px;

        &-list {
            flex-basis: calc(11% - 3px);
            height: 0.4rem;
            list-style: none;
            border-radius: 3px;
            background-color: $linkColor;
        }
        &-list:hover {
            background-color: #698610;
        }

        a {
            flex-basis: calc(11% - 3px);
            cursor: pointer;
            border-radius: 4px;
        }
        a:link,
        a:visited,
        a:focus {
            background: yellow;
        }
        a:hover {
            background: orange;
        }
        a:active {
            background: red;
            color: white;
        }
      
    }
}

